h1 {
  font-family: "Major Mono Display", monospace;
  padding-bottom: 10px;
}
a {
  color: #ff03a1;
  text-decoration: none;
}
.App {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 15px 20px;
}
.link {
  text-align: center;
  font-size: 12px;
}
.weather-wrapper {
  background: lightpink;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 15px;
  margin: 30px auto 10px auto;
  width: 600px;
  height: 310px;
}

button {
  border-radius: 5px;
  margin-left: 10px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
button:hover {
  color: white;
  background: darkgray;
  box-shadow: 1px 2px 2px rgba(250, 0, 0, 0.5);
}

input {
  border-radius: 5px;
}

.Weather form {
  margin-bottom: 15px;
}

ul {
  padding: 0;
  margin: 0 auto;

  text-align: left;
  list-style-type: none;
}
.col {
  float: left;
  display: center;
}
img {
  width: 150px;
  height: 150px;
}

.city {
  color: #ff03a1;
  margin-bottom: 0;
}
.capitalize {
  text-transform: capitalize;
}

.CityWeather {
  font-size: 16px;
}
